.idea

server/.idea
server/vendor
server/pvendor/Ydm/config.php

client/.idea
client/node_modules
AimaTK-initer/.idea
AimaTK-initer/node_modules
.project/AIMA TK-Bu Narni UM.readed/1. TAMPILAN SOFTWARE AUDIT INTERNAL MANAJEMEN.docx
.project/AIMA TK-Bu Narni UM.readed/2. TAMPILAN AWAL DI MENU PEMBUKA.docx
.project/AIMA TK-Bu Narni UM.readed/3. PROFIL.docx
.project/AIMA TK-Bu Narni UM.readed/7a Petunjuk Pengisian - what to do in heree.docx
.project/AIMA TK-Bu Narni UM.readed/7c. instrumen dimensi 1.docx
.project/AIMA TK-Bu Narni UM.readed/7d. instrumen dimensi 2.docx
.project/AIMA TK-Bu Narni UM.readed/7e. instrumen dimensi 3.docx
.project/AIMA TK-Bu Narni UM.readed/7f. instrumen dimensi 4.docx
.project/AIMA TK-Bu Narni UM.readed/7h. HASIL Instrumen deteksi mutu.docx
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/Foto Prof Son_DSF0336    ed.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/PHOTO TK PEMBINA 1/21151208_288759448269712_1512126740785801395_n.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/PHOTO TK PEMBINA 1/21192320_289311121547878_2755294495300763826_n.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/PHOTO TK PEMBINA 1/21231994_290804958065161_2085153256575373118_n.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/PHOTO TK PEMBINA 1/21765275_296868764125447_3873711492749960106_n.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/PHOTO TK PEMBINA 1/21768205_298583560620634_3664208761963111560_n.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/PHOTO TK PEMBINA 1/21768282_298258337319823_5826955299135979862_n.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/PHOTO TK PEMBINA 1/22007315_298258413986482_8776072784161338169_n.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/PHOTO TK PEMBINA 1/22049815_298583587287298_9119593445636945133_n.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/poto.jpg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/WhatsApp Image 2018-05-23 at 8.06.27 AM(1).jpeg
.project/AIMA TK-Bu Narni UM.readed/PHOTO B Narni/WhatsApp Image 2018-05-23 at 8.06.27 AM.jpeg
.project/AIMA TK-Bu Narni UM.readed/~$. IDENTITAS LEMBAGA TK.docx
.project/AIMA TK-Bu Narni UM/~$. IDENTITAS LEMBAGA TK.docx
client.bak/package.json
client.bak/public/favicon.ico
client.bak/public/index.html
client.bak/public/manifest.json
client.bak/src/actions/index.js
client.bak/src/component/AimaTK.js
client.bak/src/component/App.js
client.bak/src/component/Home.js
client.bak/src/component/Profile.js
client.bak/src/component/Quality.js
client.bak/src/component/SOP.js
client.bak/src/component/view/AimaTK.js
client.bak/src/component/view/App.js
client.bak/src/component/view/Home.js
client.bak/src/component/view/Profile.js
client.bak/src/component/view/Quality.js
client.bak/src/component/view/SOP.js
client.bak/src/index.js
client.bak/src/reducers/answers.js
client.bak/src/reducers/index.js
client.bak/src/reducers/questions.js
client.bak/src/reducers/user.js
client.bak/yarn.lock
